.sharp_text{
    color: #646464;
    font-size: 20px;
}

.desc_text{
    color: #646464;
    font-size: 16px;
}

.title_text{
    font-size: 16px;
    color: #646464;
}

.price_text{
    font-size: 16px;
}