.sharp_text{
    color: #646464;
    font-size: 20px;
}

.desc_text{
    color: #646464;
    font-size: 16px;
}

.title_text{
    font-size: 16px;
    color: #646464;
}

.price_text{
    font-size: 16px;
}

.best_text{
    color: #FE5356;
    border: 0.5px solid #c8c8c8;
    font-size: 13px;
    padding: 2px 8px;
}

.sale_text{
    background-color: #FE5356;
    border: 0.5px solid #FE5356;
    color: white;
    font-size: 13px;
    padding: 2px 8px;
}