/* content5 */
.content5 .contents {
    display: flex;
}

.content5 .title {
    color: #00913a;
    font-weight: bold;
}

.content5 a:hover .original{
    filter: brightness(60%);
}

/* //content5 */