<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border>
        <tr>
            <th>board_id</th>
            <th>nickname</th>
            <th>title</th>
            <th>content</th>
            <th>board_timestamp</th>
            <th>etc</th>
        </tr>

        <tr th:each="post: ${board_list}">
            <td th:text="${post.board_id}"></td>
            <td th:text="${post.nickname}"></td>
            <td th:text="${post.title}"></td>
            <td th:text="${post.content}"></td>
            <td th:text="${post.board_timestamp}"></td>
            <td><a th:href="@{'/update/'+${post.board_id}}">수정</a>|<a th:href="@{'/delete/'+${post.board_id}}">삭제</a></td>
        </tr>
    </table>

    <a th:href="@{/add}">글 쓰기</a>
</body>
</html>