/* content4 */
.content {
    background-color: #00913a;
    text-align: center;
}

.content_title {
    color: white;
    font-weight: bold;
    font-size: 28px;
}

.text {
    font-size: 18px;
    text-align: center;
    color: #00913a;
}

.text_value {
    font-size: 36px;
    font-weight: bold;
}

/* //content4 */