.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome_text{
    color: #212121;
    font-size: 24px;
}

.round{
    border-radius: 70%;
}

.menu_title{
    font-size: 22px;
}

.order_number_title{
    color: #333333;
    font-size: 17px;
}

.order_number{
    font-size: 17px;
}

.order_date{
    color: #8f8f8f;
    font-size: 17px;
}

.item_title{
    color: #212121;
    font-size: 15px;
    font-weight: bold;
}

.item_option{
    font-size: 13.5px;
    color: #757575;
}

.item_price{
    font-size: 13.5px;
    color: #555555;
}

.order_status{
    color: #757575;
    font-weight: bold;
}

.info_button{
    border-radius: 40px;
    border: 0.5px solid #dedede;
    transition: all 0.3s ;
    cursor: pointer;
    font-size: 13.5px;
    padding: 8px 15px;
    color: #757575;
}

.drop_button{
    border-radius: 40px;
    transition: all 0.3s ;
    cursor: pointer;
    font-size: 13.5px;
    font-weight: bold;
    padding: 8px 15px;
    background-color: #07913A;
    color: white;
}

.drop_button_left{
    border-radius: 40px;
    transition: all 0.3s ;
    cursor: pointer;
    font-size: 13.5px;
    font-weight: bold;
    padding: 8px 15px;
    color: #757575;
}

.order_box{
    border: #ededed solid 1px;
}

.title_text{
    font-size: 16px;
    color: #646464;
}

.price_text{
    font-size: 16px;
}

.best_text{
    color: #FE5356;
    border: 0.5px solid #c8c8c8;
    font-size: 13px;
    padding: 2px 8px;
}

.sale_text{
    background-color: #FE5356;
    border: 0.5px solid #FE5356;
    color: white;
    font-size: 13px;
    padding: 2px 8px;
}

.heart_count {
    background-color: #646464;
    color: white;
}

.pointer{
    cursor: pointer;
  }