.background_gray{
    background-color: #ededed;
}

.background_white{
    background-color: white;
}

.order_text{
    font-size: 32px;
}


.option_name{
    font-size: 16px;
    color: #20252B;
}

.option_detail{
    font-size: 14px;
    color: #999999;
}

.option_price{
    font-size: 14px;
}

.title_text{
    font-size: 19px;
}

.order_button{
    background-color: #07913A;
    color: white;
    cursor: pointer;
}

.order_price_text{
    font-size: 16px;
    color: #999999;
}